body{
    background-color: #E2EAF4;
}
.miClaseHeader{
    background-color: #b5cfef;
    margin: 0 15% 0 15%;
}
.miClaseImgAvatar{
    width: 150px; 
    height: 150px;
}
.miClaseSobreMi{
    background-color:#85C1E9;
    padding: 1% 2% 1% 2%;
    margin: 0 15% 0 15%;

}
.miClaseServicios{
    background-color: #1B4F72;
    padding: 1% 2%;
    margin: 0 15% 0 15%;
}
.miClaseServicios h2{
    color: white;
    padding-top: 2%;
    padding-top: 2%;
}
.miClaseImgServicio{
    max-width: 400px; 
}
.miClaseContacto{
    padding: 2% 0 2% 0;
    background-color: #AEB6BF;
    margin: 0 15% 0 15%;
}
.miClaseFooter{
    background-color: #2C3E50;
    color: white;
    font-size: larger;
    padding: 1% 0 1% 0;
}
.btn-flotante {
    position: fixed;
    bottom: 60px;
    left: 20px;
    z-index: 1000;
    border-radius: 50%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}